@import url("nullstyle.css");


.wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
}

.box {
    background-color: #e4e4e4;
    width: 360px;
    height: 575px;
    border: 2px solid black;
    border-radius: 20px;
    margin-top: 20px;
}

.input {
    &__backString {
        background-color: #ebebeb;
        padding-left: 5px;
        padding-top: 15px;
        font-size: 15px;
        height: 40px;
        margin-top: 25px;
        margin-left: 15px;
        margin-right: 15px;
        width: 325px;
    }
    &__strind {
        background-color: #ebebeb;
        padding-top: 5px;
        padding-left: 5px;
        font-size: 25px;
        height: 50px;
        margin-left: 15px;
        margin-right: 15px;
        width: 325px;
        margin-bottom: 15px;
    }
}

.buttons {
    margin-left: 10px;

    &__row {
        display: flex;
    }

    &__butt {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        background-color: #cccccc;
        color: rgb(0, 0, 0);
        border-radius: 50%;
        font-weight: 700;
        font-size: 25px;
        padding-top: 22px;
        border: 1px solid black;
        margin: 5px;
        text-align: center;
        height: 73px;
        width: 73px;
        box-shadow: 2px 2px 2px black;
        &:active {
            box-shadow: 0px 0px 0px black;
            transform: translate(2px, 2px);
        }
    }
}
.countC {
    margin-top: 10px;
    border-radius: 8px;
    width: 240px;
}

.theme {
display: flex;
}
.changeBlack {
    margin: 10px;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    background-color: rgb(0, 0, 0);
}
.changeWhite {
    margin: 10px;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    background-color: rgb(255, 255, 255);
    background-color: #5c5c5c;
}
